/Assignment
/datasets
/logs
/.vscode
/*.out
/test.txt
src/matlab/__pycache__
src/matlab/octave-workspace

cmake_install.cmake
CMakeCache.txt
CMakeFiles
/Testing/Temporary/LastTest.log
/Exercise-4.cbp
.idea